@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PretendardVariable';
  src: url('/public/fonts/PretendardVariable.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'PretendardVariable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 31.03px;
  margin: 2px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  margin: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

::-webkit-scrollbar {
  display: none;
}
